/* Michael DeVito II
 * headerStyles.css
 * Styles for header.php
 */

.window-header {
    background-color: hsl(0, 0%, 13%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
}

.header-left {
    background-color: hsl(0, 0%, 13%);
    width: 50%;  
}

.header-left p {
    padding-left: 2%;
    font-size: 12px;
    color: white;
    font-family: "Segoe UI";
}

.header-right {
    background-color: hsl(0, 0%, 13%);
    width: 50%;
}

.header-right a {
    color: white;
    font-family: "Segoe UI";
}