

.window-content {
    display: flex;
    flex-direction: row;
    align-items: flex-start; /* Prevents children from stretching vertically */
}

.window-sidebar {
    background-color: lightgreen;
    width: 10%;
}
.all-tasks {
    width: 90%;
    border-collapse: collapse;
}
.all-tasks td, .all-tasks th {
    border: 1px solid blue;
    padding: 5px;
    text-align: left;
    width: auto;
}

.all-tasks td:first-child,
.all-tasks th:first-child {
    width: 6%;
}